<ion-header >
  <ion-toolbar class="ttt-ttt"  >
    <ion-title>
        <FONT SIZE="5"> ประวัติการทำงาน</FONT> 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="scdiv">
    <FONT SIZE="5">  
    <table>
   
      
      <tr >       
        <td class="scb01">  <ion-label>ชื่อจริง :  {{Rider.name}}</ion-label></td> 
        
      </tr>
      <tr>
        
        <td  class="scb01"><ion-label>ชื่อเล่น :  {{Rider.id}}</ion-label>  </td>
      </tr>
      </table>
      <td class="scb03">รายได้ทั้งสัปดาห์ : </td>
      <ion-label>&nbsp; &nbsp; {{Rider.income}}</ion-label>
      </FONT> 
   
  </div>

  
  <div *ngFor="let item of OrderList ; index as i">

        <ion-card *ngIf=" Session[i] == 0" >
      
      <ion-item >
        <table>
          <tr>
              <td  class="sc01" align = "left">
        
                  <ion-label >ชื่อลูกค้า : {{item[2]}} </ion-label>
                
             </td>
        <td class="sc02" align = "right">
             <ion-label>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
                 {{item[7]}} กิโลเมตร  </ion-label> 
        </td>
      </tr>
      </table>
      </ion-item>
      <ion-item>เวลาที่ลูกค้าสั่งออร์เดอร์ : &nbsp;<ion-label>{{item[3]}}</ion-label></ion-item>
      <ion-item>ส่งเสร็จสิ้นเมื่อ : &nbsp;<ion-label>{{item[4]}}</ion-label></ion-item>
      <ion-item>สถานที่ : <ion-label>{{item[1]}}</ion-label></ion-item>
      <ion-item>ร้านค้า : <ion-label>{{item[13]}}</ion-label></ion-item>
      <ion-item *ngIf=" item[14] != null" >ร้านค้า : <ion-label>{{item[14]}}</ion-label></ion-item>
      <ion-item *ngIf=" item[15] != null" >ร้านค้า : <ion-label>{{item[15]}}</ion-label></ion-item>
      <ion-item *ngIf=" Session[i] == 'ซ่อนเลข'">{{i+1}}</ion-item>
      <div class="buttonAl">
          <ion-button expand="full" >ดูข้อมูล</ion-button>
          
        </div>
    </ion-card>
  </div>
  
       
</ion-content>
 <div class="buttonAl">
            <ion-button expand="full" target="_parent">ยืนยัน</ion-button>
            
          </div>

        