.ttt-ttt{
    --background : #EC6C1F;
    --color : #FFF;
}
.scdiv{
    padding-block-start: 20px;
    height: 130px;
}
.buttonAl{
    ion-button{
        --background : #64EC82;
     
    }
}
.scb01{
    padding-left:20px;
    height: 20px;
    width: 230px;
}
.scb02{
    padding-left:20px;
    height: 20px;
    width: 200px;
}
.scb03{
    padding-left:20px;
    
}