.colorBk{
    --background : #EC6C1F;
    --color : #FFF;
}
.item01{
    padding-left: 20px
}
.item02
{
    
    padding-right: 20px
}
.item03{
    padding-bottom: 20px
}
.pdt01{
    padding-left: 20px
}
.sc01{
    padding-inline-start: 70px;
    width: 200px;

}
.sc02{
    padding-inline-start: 40px;
    width: 150px;    
}
.sc03{
    padding-inline-start: 70px;
    width: 400px;
}
.ssc01{
    width: 200px; 
}
.ssc02{
    width: 500px; 
}