<ion-header>
  <ion-toolbar class="colorBk">
    <ion-title>ใบเสร็จ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<h1><B>OrderNo. : ps001</B> </h1>
<br />
<table class="pdt01"   ><FONT SIZE="3">
    <tr>
      <td class="sc01">เวลาที่รับ : <label> 12.30</label></td>

      <td align="right">เวลาที่ส่ง : <label> 12.50</label></td>
    </tr>
    <br />

    <tr>
      <td class="sc01" >Service : เต๋า</td>
      <td align="left" >Rider : บีม</td>
    </tr>
    <br />
    <tr >
      <td class="sc01">ลูกค้า : <label> มาร์ค</label></td>
      <td>สถานที่ : <label>หอสุรนิเวิศ13</label></td>
    </tr>
    <br />
  <tr>
    <td class="sc03">ระยะทางรวม : <label>3.2</label> กิโลเมตร</td>
  </tr></FONT>
    </table>
    <br />
    <h1><B>รายการอาหาร</B></h1>
    <br />
    <table>
      <tr>
        <td class="sc02"><label>1</label></td> <td class="ssc02"><label>ข้าวกระเพราะหมูไข่ดาว</label></td><td class="ssc01"><label>45</label></td>
      </tr>
      <tr>
        <td class="sc02"><label>1</label></td> <td class="ssc02"><label>ข้าวกระเพราะหมูไข่ดาว</label></td><td class="ssc01"><label>45</label></td>
      </tr>
      <tr>
        <td class="sc02"><label>1</label></td> <td class="ssc02"><label>ข้าวกระเพราะหมูไข่ดาว</label></td><td class="ssc01"><label>45</label></td>
      </tr>
      <tr>
        <td class="sc02"><label>1</label></td> <td class="ssc02"><label>ค่าจัดส่ง</label></td><td class="ssc01"><label>30</label></td>
      </tr> 
    </table>
    <h1><B>รวมทั้งสิ้น 165 บาท</B></h1>
</ion-content>

