<ion-header>
  <ion-toolbar class="headcolor">
    <ion-title>หน้าแรก</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>

    <ion-item>
      <table>
      <td  class="sc01" align = "left">
         <div>
          ชื่อลูกค้า : <ion-label>บีม</ion-label>
         </div>
      </td>
      <td class="sc02" align = "right">
           <label>( 3.3 M ) </label> 
      </td>
    </table>
    </ion-item>
    <ion-item>สถานที่ : <ion-label>หอสุรนิเวศ 13</ion-label></ion-item>
    <ion-item>ร้านค้า : <ion-label>กระเพราปั๊มหลังมอ</ion-label></ion-item>
    <div class="buttonAl">
        <ion-button expand="full" >ยืนยัน</ion-button>
        
      </div>
  </ion-card>
  
  <ion-card>
      <ion-item>
        <table>
        <td  class="sc01" align = "left">
           <div>
            ชื่อลูกค้า : <ion-label>บีม</ion-label>
           </div>
        </td>
        <td class="sc02" align = "right">
             <label>( 3.3 M ) </label> 
        </td>
      </table>
      </ion-item>
      <ion-item>สถานที่ : <ion-label>หอสุรนิเวศ 13</ion-label></ion-item>
      <ion-item>ร้านค้า : <ion-label>กระเพราปั๊มหลังมอ</ion-label></ion-item>
      <div class="buttonAl">
          <ion-button expand="full" >ยืนยัน</ion-button>
          
        </div>
    </ion-card>

    <ion-card>
        <ion-item>
          <table>
          <td  class="sc01" align = "left">
             <div>
              ชื่อลูกค้า : <ion-label>บีม</ion-label>
             </div>
          </td>
          <td class="sc02" align = "right">
               <label>( 3.3 M ) </label> 
          </td>
        </table>
        </ion-item>
        <ion-item>สถานที่ : <ion-label>หอสุรนิเวศ 13</ion-label></ion-item>
        <ion-item>ร้านค้า : <ion-label>กระเพราปั๊มหลังมอ</ion-label></ion-item>
        <div class="buttonAl">
            <ion-button expand="full" >ยืนยัน</ion-button>
            
          </div>
      </ion-card>

      <ion-card>
          <ion-item>
            <table>
            <td  class="sc01" align = "left">
               <div>
                ชื่อลูกค้า : <ion-label>บีม</ion-label>
               </div>
            </td>
            <td class="sc02" align = "right">
                 <label>( 3.3 M ) </label> 
            </td>
          </table>
          </ion-item>
          <ion-item>สถานที่ : <ion-label>หอสุรนิเวศ 13</ion-label></ion-item>
          <ion-item>ร้านค้า : <ion-label>กระเพราปั๊มหลังมอ</ion-label></ion-item>
          <div class="buttonAl">
              <ion-button expand="full" >ยืนยัน</ion-button>
              
            </div>
        </ion-card>

        <ion-card>
            <ion-item>
              <table>
              <td  class="sc01" align = "left">
                 <div>
                  ชื่อลูกค้า : <ion-label>บีม</ion-label>
                 </div>
              </td>
              <td class="sc02" align = "right">
                   <label>( 3.3 M ) </label> 
              </td>
            </table>
            </ion-item>
            <ion-item>สถานที่ : <ion-label>หอสุรนิเวศ 13</ion-label></ion-item>
            <ion-item>ร้านค้า : <ion-label>กระเพราปั๊มหลังมอ</ion-label></ion-item>
            <div class="buttonAl">
                <ion-button expand="full" >ยืนยัน</ion-button>
                
              </div>
          </ion-card>
</ion-content>

 